.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine {
  font-size: 100px;
}

.player-text-container {
  position: fixed;
  right: 200px;
  top: 200px;
  width: 150px;
}

.player-text {
  position: absolute;
  font-size: 20px;
}

/* cover */

.cover {
  position: fixed;
  top: 0px;
  height: 700px;
  left: 450px;
  right: 450px;
  background-color: rgba(white, 0);
}

/* styling for when the user chooses an already chosen square. */
.square-full {
  position: absolute;
  left: 400px;
  top: 200px;
  font-size: 25px;
  color: green;
}